<h1>Teems</h1>

<p>
Terms of use - Privacy Policy
<br>
Contact us / FAQ
<br>
Order Status
</p>

<h4>
Refer a friend and receive $5 towards your next #Teems purchase!
</h4>

@footer_contact = Contact.new

<%= render_shareable :buttons=> ['twitter', 'facebook', 'linkedin', 'pinterest'] %>
